# Atividade de Pandas -
#### Conteúdo: 
- Leitura de Dados
- Manipulação de Index

**1) Baixe o dataset de veículos na sua máquina e faça a leitura de dados usando link https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('car data.csv')
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [7]:
df = df.drop(["Car_Name"] ,axis=1)

KeyError: '[False] not found in axis'

**2) Crie uma nova coluna no seu dataframe que apresenta o número atual da posição do registro, iniciando pelo número 0**

In [5]:
df['Posição'] = df.index
print(df)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner  index  Posição
0        Dealer       Manual      0      0        0
1        Dealer       Manual      0      1        1
2        Dealer       Manual      0      2        2
3        Dealer       Manual      0      3        3
4        Dealer       Manual      0      4        4
..          ...          ...    ...    ...      ...
296      Dealer       Manual      0    296      296
297      Dealer       Manual      0    297      297
298      Dealer       Manual      0    298      298
299      Dealer       Manual      0    299      299
300      Dealer       Manual      0    300      300

[301 rows x 11 columns]

**3) Set o index usando o name do veículo**

In [15]:
#df.set_index('Car_Name', inplace=True)
df

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,index,Posição
Car_Name,,,,,,,,,,
ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,0,0
sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,1,1
ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2,2
wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,3,3
swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,4,4
...,...,...,...,...,...,...,...,...,...,...
city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,296,296
brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,297,297
city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,298,298
city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,299,299
brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,300,300

**4) Imprima o dataframe sem os índices**

In [17]:
df.reset_index(inplace=True)
df

,level_0,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,index,Posição
0,0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,0,0
1,1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,1,1
2,2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2,2
3,3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,3,3
4,4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...
296,296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,296,296
297,297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,297,297
298,298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,298,298
299,299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,299,299
300,300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,300,300

**5) Salve os 20 primeiros registros do dataframe em um arquivo JSON**

In [27]:
df.loc[0:19].to_json('file.json')

In [28]:
teste = pd.read_json('file.json')
teste

,level_0,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,index,Posição
0,0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,0,0
1,1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,1,1
2,2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2,2
3,3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,3,3
4,4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,4,4
5,5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0,5,5
6,6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0,6,6
7,7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0,7,7
8,8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0,8,8
9,9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0,9,9
10,10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0,10,10
11,11,ciaz,2015,6.85,10.38,51000,Diesel,Dealer,Manual,0,11,11
12,12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0,12,12
13,13,ertiga,2015,6.10,7.71,26000,Petrol,Dealer,Manual,0,13,13
14,14,dzire,2009,2.25,7.21,77427,Petrol,Dealer,Manual,0,14,14
15,15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0,15,15
16,16,ertiga,2015,7.25,10.79,41678,Diesel,Dealer,Manual,0,16,16
17,17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0,17,17
18,18,wagon r,2015,3.25,5.09,35500,CNG,Dealer,Manual,0,18,18
19,19,sx4,2010,2.65,7.98,41442,Petrol,Dealer,Manual,0,19,19